// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.message {
	position: relative;
	display: inline-block;
	width: 65%;
	height: 10%;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:20px;
	padding-left:20px;
	margin: 1%;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font: 22px arial,sans-serif;

}

.message .content {
	height: 85%;
	width:100%;
	overflow: auto;
}

.message .meta {
	position: absolute;
	bottom: 3px;
	right: 3px;
}

#lastMessage {
	display: none;
}
