<div class="message">
	<div class="content"><%= @message.content %></div>
	<div class="meta"><b><%= @message.username %></b>,
	 submitted <%= time_ago_in_words(@message.updated_at) %> ago.</div>
</div>
